<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @office.contact %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @office.adress %>
</p>

<p>
  <strong>Number of employees:</strong>
  <%= @office.number_of_employees %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
