<!DOCTYPE html>
<html>
  <head>
    <title>EkiWeather</title>
     <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="center jumbotron">
      <h3>It's <%= @office.temperature%>°C in <%= @office.name%> </h3>
    </div>
    <div class="center jumbotron">
      <h2>This office is located at <%= @office.address%></h2>
    </div>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
    
  </body>
</html>


