<p id="notice"><%= notice %></p>

<h1>Listing Weatherforecasts</h1>

<table>
  <thead>
    <tr>
      <th>Office</th>
      <th>Temperature</th>
      <th>Humidity level</th>
      <th>Sunlight</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weatherforecasts.each do |weatherforecast| %>
      <tr>
        <td><%= weatherforecast.office_id %></td>
        <td><%= weatherforecast.temperature %></td>
        <td><%= weatherforecast.humidity_level %></td>
        <td><%= weatherforecast.sunlight %></td>
        <td><%= weatherforecast.date %></td>
        <td><%= link_to 'Show', weatherforecast %></td>
        <td><%= link_to 'Edit', edit_weatherforecast_path(weatherforecast) %></td>
        <td><%= link_to 'Destroy', weatherforecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weatherforecast', new_weatherforecast_path %>
