<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @weatherforecast.office_id %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @weatherforecast.temperature %>
</p>

<p>
  <strong>Humidity level:</strong>
  <%= @weatherforecast.humidity_level %>
</p>

<p>
  <strong>Sunlight:</strong>
  <%= @weatherforecast.sunlight %>
</p>

<p>
  <strong>Date:</strong>
  <%= @weatherforecast.date %>
</p>

<%= link_to 'Edit', edit_weatherforecast_path(@weatherforecast) %> |
<%= link_to 'Back', weatherforecasts_path %>
